<div class="row">

  <div class="card" style="width: 15rem; float: left; margin: 5px"*ngFor="let product of products;">
    <img src="../../../../assets/default-product.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{product.Name}}</h5>
      <p class="card-text">deneeme</p>
      <a href="#" class="btn btn-success">Sepete Ekle</a>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Pervirous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3"></div>
</div>
